<footer>
  <div class="footer-info">
    <p>
      <strong>ASD CINOFILA LA LUNA NUOVA</strong> – sede legale: Via San Pio X n. 64, 31056 Roncade (TV) – C.F. 94150620261
    </p>
    <p>Affiliazione CSEN settore Cinofila n. 47235</p>
    <p>
        <a href="mailto:info&#64;lalunanuova.org">info&#64;lalunanuova.org</a> – tel. 348 4663473 (Francesca), 347 5474812 (Elisa)    </p>
  </div>
  <div class="footer-copyright">
    <p>2021 Asd Cinofila La Luna Nuova. <em>All rights reserved.</em></p>
  </div>
</footer>